.background {
    background-image: url(eki7.png);
    background-size: cover;
    height: 634px;
    /* margin-top: 1px; */
}
.container {
    /* margin-top: 50%; */
    width: 30%; 
    box-shadow: 0 3px 25px rgba(0,0,0,0.9) ;
    padding: 40px;
}
 button {
     width: 49%;
 }
 p {
     text-align: center;
     color: grey;
 }

 label {
     color: black;
 }

 .kembali {
    text-align: center;
    width: 30%;
 }