
/* ini adalah style jumbotron */
.jumbotron {
    background-image: url(eki2.jpg);
    background-size: cover;
    height: 800px;
    text-align: left;
    margin-top: -180px;
}

.jumbotron .display-4 {
    color: #4ACD14;
    margin-top: 300px;
}

.jumbotron .display-5 {
    color: #4ACD14;
    
}
.jumbotron p {
    color: #1982F9;
    font-size: 20px;
}
/* .jumbotron hr{
    border-color: #F05F40;
    width: 70px;
    border-width: 3px;
    text-align: left;
} */
.jumbotron .btn {
    background-color:#1AA961 ;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20PX;
}

.card .img{
    height:"400px";
   width:"400px;"
}
